*{
	box-sizing: border-box;
  font-size: 60px;
}

.main-container{
  height: 100px;
  width: 400px;
  display: grid;
  grid-template-rows: auto;
  /* grid-template-columns: 25%; */
}

.displayed-result{
  background-color: black;
  color: white;
  text-align: right;
  padding: 5px;
}

button{
  border: 1px black solid;
}

.operand{
  background-color: orange;
  color: white;
}

.four-item-row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
}

.row2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
}

.row6{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
}

.clear{
  grid-column-start: 1;
  grid-column-end: 3;
}

.zero{
  grid-column-start: 1;
  grid-column-end: 4;
}

/* .row2 > button{
  flex-grow: 1;
}

.row2 .clear{
  flex-grow: 3;
} */

 */
