*{
	box-sizing: border-box;
  font-size: 50px;
}

.row{
  width: 400px;
  height: 100px;
}

.displayed-result{
  background-color: black;
  color: white;
  text-align: right;
  padding: 5px;
}

button{
  border: 1px black solid;
}

.clear, .number, .backspace{
  background-color: rgb(216, 217, 219);
}

.clear:active, .number:active, .backspace:active{
  background-color: rgb(128, 128, 128);

}

.clear:hover, .number:hover, .backspace:hover{
  background-color: rgb(245,245,245)
}

.operand:hover{
  background-color: rgb(255,200,124);
}

.operand:active{
  background-color: rgb(250, 146, 1);
}

.operand{
  background-color: orange;
  color: white;
}

.row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
}

.displayed-result{
  grid-column-start: 1;
  grid-column-end: 5;
}

.clear{
  grid-column-start: 1;
  grid-column-end: 3;
}

.zero{
  grid-column-start: 1;
  grid-column-end: 4;
}
